html, body, #root, .App{
    height: 100%;
}
.box{
    background-image: url(image/bottom-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 0%;
    height: 100%;
    /* font-size: 1.4rem; */
}
.contain{
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100px;
}
.card{
    background-image: url(image/card-background.png);
    background-repeat: no-repeat;
    background-size: 99%;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 60px;
    /* padding-bottom: 62px; */
    padding-right: 5px;
    min-height: 520px;
}
.logo{
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    /* display: flex; */
    /* background-color: red; */
}
.logo img{
    width: 100%;
    /* display: block; */
    /* flex: 1; */
}
.user{
    margin-top: 20px;
}
.user-prop{
    height: 2.8rem;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10px;
}
.user-prop .left{
    width: 80px;
    display: flex;
}
.user-prop .icon{
    width: 12px;
    /* height: 15px; */
}
.user-prop .icon img{
    width: 12px;
}
.user-prop .title{
    width: 60px;
}
.user-prop .value{
    letter-spacing: 4px;
    flex: 1;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: left;
}